@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Satoshi';
        src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
             url('./fonts/Satoshi-Regular.woff') format('woff');
             font-weight: 400;
             font-display: swap;
             font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi';
        src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
             url('./fonts/Satoshi-Medium.woff') format('woff');
             font-weight: 500;
             font-display: swap;
             font-style: normal;
    }

    @font-face {
        font-family: 'Larken';
        src: url('./fonts/Larken-Light.woff2') format('woff2'),
            url('./fonts/Larken-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Larken';
        src: url('./fonts/Larken-Regular.woff2') format('woff2'),
            url('./fonts/Larken-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

}

.article h2{
    @apply font-larken text-lg lg:text-2xl mt-4 lg:mb-12 mb-8
}

.article h3{
    @apply font-medium lg:text-[21px] text-md mb-4
}
.article hr{
    @apply h-[1px] mb-8 lg:mb-12 bg-grey-200 border-0
}
.article p{
    @apply lg:text-[21px] leading-9 mb-8 text-md
}
.article img{
    @apply rounded
}
.article figcaption{
    @apply text-sm text-grey-600 mt-2
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }

  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }